.button {
  font-size: 1.5em;
  text-align: center;
  color: #2ba6df;
  border: 1px solid #2aa1d8;
}

.emoji-button {
  transition: width 1s, height 4s;
  width: 300px;
}

.emoji-button:hover {
  color: #ff3737;
  border: 1px solid #e73131;
  width: 400px;
}
